.card {
    text-align: center;
    font-size: 20px;
    width: 300px;
    height: 500px;
    margin: 20px;
    box-shadow: 4px 4px 4px black;
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0.066);
}
.card img {
    height: 420px;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}
.card h3 {
    margin: auto 4px;
}