
.head {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.innerContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .btnc {
      display: flex;
      justify-content: center;

  }
  .btnMore {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 35px;
    border-radius: 8px;
  }