
.slider {
    max-width: 89%;
    margin: auto;
  }
  
  .slide {
    text-align: center;
    position: relative;
    margin: 10px 0px 10px -1px ;
  }
  
  .slide img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    margin: 10px 0;
    border-radius: 15px;
    
  }

  .slick-dots li button:before{
    color: #fff;
    opacity: .25;
    margin-top: -20px;
}
.slick-dots li.slick-active button:before {
    color: rgb(89, 89, 228);
    opacity: 1;
  }
  .slide-content {
    position: absolute;
    bottom: 10px; 
    right: 0;
    color: #fff;
  }
  
  .slide-content h3 {
    font-size: 30px;
    padding: 20px 25px;
    margin: 0;
    text-shadow: 0 0 4px black;
  }
  
  .slide-content p {
    font-size: 1rem;
    margin: 0;
  }
  
  .main-page {
    color: white;
    display: grid;
    grid-template-areas:
        "slider1 top1"
        "slider2 top1"
        "slider3 top1";
    min-height: 900px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:3fr 1fr;
}
.slider1 , .slider2 , .slider3 {
    width: 60vw;
    margin: auto;
    a {
        text-decoration: none;
        color: white;
    }
    .slick-dots li button:before{
        color: #fff;
        display: none;
    }
}
.headd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 15px 0;
}
.butt {
    color: #fff;
    background-color: rgb(89, 89, 228);
    padding: 3px 8px;
    font-size: 12px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.slider1 {
    grid-area: slider1;
}
.slider2 {
    grid-area: slider2;
}
.slider3 {
    grid-area: slider3;
}
.top1 {
    grid-area: top1;
}
.inner-slide {
    width: 220px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
 img {
    object-fit: cover;
    width: 220px;
    height: 300px;
    border-radius: 15px;
    border-radius: 15px 15px 15px 15px;
    // margin: -10px;
 }
}
.slider .slick-next:before {
    display: block;
    font-size: 40px;
    line-height: 0;
    opacity: .75;
    background-color: #ffffff85;
    border: none;
    color: rgb(89, 89, 228);
    position: absolute;
    right: -25px;
}
.slick-prev:before{
    font-size: 40px;
    line-height: 0;
    opacity: .75;
    color: rgb(89, 89, 228);
    position: absolute;
    left: -25px;
}
.main-page .slick-next:before {
    font-size: 40px;
    line-height: 0;
    opacity: .75;
    background-color: #ffffff85;
    border: none;
    color: rgb(89, 89, 228);
    position: absolute;
    right: 43px;
}
.inner-slide img:hover {
    transform: scale(1.05);
}
.top1 {
    display: block;
    margin: 10px 20px 20px -60px;
    display: flex;
    flex-direction: column;
    h2{
        margin: 2px 0 6px 0;
    }
}
.blues{
    font-size: 35px;
    color: rgb(89, 89, 228);
  }
.panel {
    // margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.801);
    width: 90%;
    padding-bottom: 5px;
    height: 80px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    img{
        height: 100%;
    }
}
  
  @media screen and (max-width:760px) {
    .slide img {
        height: 180px;
    }
    .slide-content h3 {
        font-size: 15px;
    }
    .main-page {
    
        grid-template-areas:
            "slider1"
            "slider2"
            "slider3";

            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
    }
    .top1 {
        display: none;
    }
    .slider .slick-next:before , .slider .slick-prev:before {
        display: none;
    }
    .main-page .slick-next:before{
        margin-right: -65px;
    }
    .slider {
        max-width: 86%;
    }
  }